# Directorios y archivos de Python
__pycache__/
*.pyc

# Entorno virtual
venv/
.env

# Archivos de configuración del entorno
*.env
*.local

# Archivos de logs
*.log

# Archivos y directorios de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistemas operativos
.DS_Store
Thumbs.db
